<div class="row">
  <div class="col-sm-6">
    <div class="panel">
      <div class="panel-heading">
        <h3 class="panel-title pull-left">Success Stories</h3>
        <button class="btn btn-success pull-right" onclick="location.href='<%= posts_url(:category => '01', :status => 'met') %>'">View All</button>
        <div class="clearfix"></div>
      </div>

      <ul class="list-group list-group-flush">
        <% @posts_met.each do |post| %>
          <li class="list-group-item clickable-row" data-href="/posts/<%= post.id %>">
            <table>
              <tr>
                <td  class="img-col">
                  <%= image_for(post, "img-responsive rounded row-height") %>
                </td>
                <td>
                  <h5><%= post.title %></h5>
                  <div class="row">
                    <div class="col-sm-6">
                      <p><%= truncate(post.description, length: 80, separator: ' ') %></p>
                    </div>
                    <div class="col-sm-5 poster">
                      <p><i>Thank you message:</i><br><%= truncate(post.description_met, length: 60, separator: ' ') %></p>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title pull-left">Needs, Prayer Requests, Offers of Help</h3>
        <button class="btn btn-success pull-right" onclick="location.href='<%= posts_url( :menu => true ) %>'">View All</button>
        <div class="clearfix"></div>
      </div>
      <ul class="list-group list-group-flush">
        <% @posts.each do |post| %>
          <li class="list-group-item clickable-row" data-href="/posts/<%= post.id %>">
            <table>
              <tr>
                <td  class="img-col">
                  <%= image_for(post, "img-responsive rounded row-height") %>
                </td>
                <td>
                  <h5><%= post.category.humanize.upcase %>: <%= post.title %></h5>
                  <p><%= truncate(post.description, length: 50, separator: ' ') %></p>
                </td>
              </tr>
            </table>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="row text-center">
<p>Access the original spreadsheet <a href="https://docs.google.com/spreadsheets/d/1rGnyaRV4Virv7NZqwfAFOE2rkVJCDiwJgcceuZnU848/edit#gid=0">here</a>.</p>
</div>