<p><%= @post.name %> has created a post on Lovefund that matches the notification criteria:</p>
<p>Search term: <%= @subscription.term || '{all posts}' %> </p>
<p>Category: <%= @post.category.humanize %></p>

<p><strong>Title:</strong> <%= @post.title %> </p>
<p>Description:</strong> <%= @post.description %> </p>

<p><strong>Link to full post:</strong> <%= post_url(@post) %> </p>

<p><strong>Title:</strong> <%= @post.title %> </p>

<p><%= link_to 'Unsubscribe from this notification', controller: "subscriptions", action: "unsubscribe", subscription_id: @subscription.id, only_path: false %></p>

<p>Note: Unsubscription must be none individually for each notification request you created.</p>