<%= bootstrap_form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <% if (params[:met] ) %>
  <%= f.hidden_field :status, :value => :met %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="text-center"> Need or Prayer Met! </h4>
    </div>
    <div class="panel-body">
      <%= f.text_area :description_met, rows: "5", label: "Congratulations! Fill in how your need or prayer was met and then click submit."  %>
    </div>
  </div>
  
  <% end %>
  
  <%= f.select(:category, Post.categories.keys.map {|key| [key.humanize, key]})%>

  <%= f.text_field :title, label: "Title of post" %>
  
  <%= f.text_field :name, label: "Name (Who is posting?)" %>

  <%= f.email_field :email, label: "E-mail (required)", help: "You will have to click a link in your e-mail to activate this post."  %>
  
  <%= f.check_box :anon_email, label: "Anonymize e-mail address. (Not working yet. If you click this then the church e-mail address will be shown instead of yours.)"  %>

  <%= f.text_field :phone %>
  
  <%= f.check_box :show_phone, label: "Display phone number on post. If unchecked, your phone number will only be seen by the church." %>

  <%= f.text_field :street_address, label: "Street address", help: "Only enter address if you want this to be desplayed." %>
  
  <%= f.text_field :zip %>
  
  <%= f.text_area :description, rows: "5"  %>
  
  <%= f.check_box :facilitated_by_church, label: "Facilitated by church. Select if you want all contact to go through the church."  %>
  
  
  
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>

  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>