<%= bootstrap_form_for(@post, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  
  <p>
    <% if (params[:category] == '0' ) %>
    Complete this form to request prayer. You may indicate specific things you need prayer for or request prayer for others. The request may be met by anyone willing to pray and will remain open until you close it.
    <% end %>
    <% if (params[:category] == '1' ) %>
    Complete this form to request help. You may indicate specific needs you have, whether service needs around your house, financial needs, etc. You may also request help for others. The request may be met by anyone willing to help and will remain open until you close it.
    <% end %>
    <% if (params[:category] == '2' ) %>
    Complete this form to offer to pray. You may indicate specific days or times you're willing to pray, things you'd specifically like to pray for, etc. The offer may be claimed by anyone needing prayer and will remain open until you close it.
    <% end %>
    <% if (params[:category] == '3' ) %>
    Complete this form to offer your services. You may indicate specific skills you're willing to share, financial or other help you can give. The offer may be claimed by anyone needing help and will remain open until you close it.
    <% end %>
  </p>
  
  <% if (params[:met] ) %>
  <%= f.hidden_field :status, :value => :met %>
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="text-center"> Need or Prayer Met! </h4>
    </div>
    <div class="panel-body">
      <%= f.text_area :description_met, rows: "5", label: "Congratulations! Fill in how your need or prayer was met and then click submit."  %>
    </div>
  </div>
  
  <% end %>

  
  <!--<%= f.select(:category, options_for_select(Post.categories.keys.map {|key| [key.humanize, key]}, f.object.category || Post.categories.keys[params[:category].to_i])) %>-->
  <%= f.hidden_field :category, :value => Post.categories.keys[params[:category].to_i] %>

  <%= f.text_field :title, label: "Title of post" %>
  
  <%= f.text_field :name, label: "Name (Who is posting?)" %>

  <%= f.email_field :email, label: "E-mail (required)", help: "You will have to click a link in your e-mail to activate this post."  %>

  <p><strong>Keep e-mail private</strong></p>
  <%= f.check_box :anon_email, 'data-toggle'=>'toggle', label: " ", checked: true %>
  <p>If selected, will show church e-mail. You will also recieve an e-mail when someone 'claims' your need.</p>
  <%= f.text_field :phone %>
  
  <p><strong>Display phone number on post</strong></p>
  <%= f.check_box :show_phone, 'data-toggle'=>'toggle', label: " " %>

  <%= f.text_field :street_address, label: "Location", help: "(Optional)" %>
  
  <%= f.text_field :zip %>
  
  <%= f.text_area :description, rows: "5"  %>
  
  <!--<%= f.check_box :facilitated_by_church, 'data-toggle'=>'toggle', label: "Facilitated by church. Select if you want all contact to go through the church."  %>-->
  
  
  
  <span class="picture">
    <%= f.file_field :picture, accept: 'image/jpeg,image/gif,image/png' %>
  </span>
  <p><small><i>Disclaimer:</i> Lovefund.us is intended to help match people who want to help others with people who could use the help.  This site is not vetted.  The Church in Drive does not have the resources to verify every post.  Use at your own risk.  Please meet in public places and do not give out personal information until you are comfortable doing so and confident that it is safe.</small></p>
  <%= f.submit "Submit", class: "btn btn-primary" %>
<% end %>

<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>