<p id="notice"><%= notice %></p>

<h1>Listing Posts</h1>

<%= will_paginate %>

  <% @posts.each do |post| %>
  
<a href="/posts/<%= post.id %>" class="post">
<div class="panel panel-<%= post.get_class %>">
  <div class="panel-heading">
    <h3 class="panel-title"><stong><%= post.category.humanize.upcase %>:</strong> <%= post.title %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-2"><%= image_for(post, "img-responsive") %></div>
      <div class="col-md-10">
        <%= truncate(post.description, length: 150, separator: ' ') %>
      </div>
    </div> 
  </div>
</div>
</a>


  <% end %>

<%= will_paginate %>

<br>

<%= link_to 'New Post', new_post_path, class: "btn btn-info" %>
