<p id="notice"><%= notice %></p>

<h1><%= (params[:met] == 'true'?'Met Needs and Prayer Requests':'Current Posts') %></h1>
<div class="text-center padding-bottom">
<%= link_to "View " + (params[:met] == 'true'?'Current Posts':'Met Needs and Prayer Requests'),
  root_path(:met => (params[:met]=='true'?false:true)), class: "btn btn-success" %>
</div>
<%= will_paginate %>

  <% @posts.each do |post| %>
  
<a href="/posts/<%= post.id %>" class="post">
<div class="panel panel-<%= post.get_class %>">
  <div class="panel-heading">
    <h3 class="panel-title"><stong><%= post.category.humanize.upcase %>:</strong> <%= post.title %></h3>
  </div>
  <div class="panel-body">
    <div class="row">
    <% if post.picture.length > 0 %>
      <div class="col-md-2"><%= image_for(post, "img-responsive thumbnail") %></div>
    <% end %>
      <div class="col-md-10">
        <%= truncate(post.description, length: 150, separator: ' ') %>
      </div>
    </div> 
  </div>
</div>
</a>


  <% end %>

<%= will_paginate %>

<br>


