<% provide(:title, "View Post") %>

<article id="post" class="post">

  <header>
    <%= image_for(@post, "img-responsive") %>
    <h1><%= @post.title %></h1>
    <h2>posted by <%= @post.name %></h2>
  </header>
      <% if logged_in? && current_post?(@post) %>
      <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
      <%= link_to "Delete", @post, 
                  class: "btn btn-danger", 
                  method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <p>
    <%= @post.description %>
  </p>

  <h3>E-Mail</h3>
  <p>
    <%= @post.email %>
  </p>
  <h3>Phone</h3>
  <p>
    <%= @post.phone %>
  </p>

  <%= link_to 'Back', posts_path, class: "btn btn-primary" %>


</article>

