<% provide(:title, @post.title) %>

<article id="post" class="post">


  <div class="row">
  <% if logged_in? && current_post?(@post) %>
    <div class="col-md-12 text-center padding-bottom"> 
      <% if @post.category == "request_prayer" || @post.category == "request_help" %>
          <%= link_to "Need Met!", edit_post_path(@post, :met => true), class: "btn btn-success" %>
      <% end %>
          <%= link_to "Edit", edit_post_path(@post), class: "btn btn-info" %>
          <%= link_to "Delete", @post, 
                      class: "btn btn-danger", 
                      method: :delete, data: { confirm: 'Are you sure?' } %>
      
    </div>
  <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">    
      <%= image_for(@post, "img-responsive center-block thumbnail") %>
      <h1><%= @post.title %></h1>
      <h2>posted by <%= @post.name %></h2>

    </div>
  </div>
  <div class="row">
    <div class="col-md-12">  
    <% if (@post.status == "met") %>    
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="text-center"> Need or Prayer Met! </h4>
        </div>
        <div class="panel-body">
          <%= @post.description_met %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-1 col-md-7">
      <div class="row padding-bottom">
        <div class="col-md-2 text-center"><strong>Description</strong></div>
        <div class="col-md-10"><%= @post.description %></div>
      </div>
      
      <% if @post.street_address.length > 1 %>
      <div class="row padding-bottom">
        <div class="col-md-2 text-center"><strong>Location</strong></div>
        <div class="col-md-10"><%= @post.street_address %></div>
      </div>
      <% end %>
      
      <div class="row padding-bottom">
        <div class="col-md-2 text-center"><strong>E-mail</strong></div>
        <div class="col-md-10">
          <%= (@post.anon_email || @post.facilitated_by_church)?"Send e-mail using the \'contact\' button on the right.":@post.email %>
        </div>
      </div>
      
      <% if @post.show_phone %>
        <div class="row padding-bottom">
          <div class="col-md-2 text-center"><strong>Phone</strong></div>
          <div class="col-md-10"><%= @post.phone  %></div>
        </div>
      <% end %>

    </div>

    <div class="col-md-3"> <strong>Share: </strong>
          <ul class="share-buttons">
        <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flovefund.us&t=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&t=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="../assets/Facebook.svg"></a></li>
        <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Flovefund.us&text=:%20http%3A%2F%2Flovefund.us" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="../assets/Twitter.svg"></a></li>
        <li><a href="https://plus.google.com/share?url=http%3A%2F%2Flovefund.us" target="_blank" title="Share on Google+" onclick="window.open('https://plus.google.com/share?url=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Google+" src="../assets/Google.svg"></a></li>
        <li><a href="http://pinterest.com/pin/create/button/?url=http%3A%2F%2Flovefund.us&description=" target="_blank" title="Pin it" onclick="window.open('http://pinterest.com/pin/create/button/?url=' + encodeURIComponent(document.URL) + '&description=' +  encodeURIComponent(document.title)); return false;"><img alt="Pin it" src="../assets/Pinterest.svg"></a></li>
        <li><a href="mailto:?subject=&body=:%20http%3A%2F%2Flovefund.us" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="../assets/Email.svg"></a></li>
      </ul>
      <% if logged_in? && current_post?(@post) %>
        <div class="padding-bottom">
          <%= link_to "Respond", new_post_claim_path(@post, :response => 'true'), remote: true, class: "btn btn-info center-block" %>
        </div>
      <% end %>
      
      <div class="padding-bottom">
        <%= link_to (@post.category == 'offer_help' || @post.category == 'offer_prayer' ?  "Help" : "Claim") + " / Contact", new_post_claim_path(@post), remote: true, class: "btn btn-success center-block" %>
      </div>
        
      <ul class="list-group">
        <% if @post.claims.length > 0 %>
        <li class="list-group-item orange text-center">
          <h4 class="list-group-item-heading">Messages</h4>
        </li>
        <% end %>
      <% @post.claims.each do |claim| %>
        <% if !claim.private %>
          <li class="<%= claim.email == @post.email ? "list-group-item poster" : "list-group-item" %>">
            <div class="row">
              <div class="col-xs-3">
                <%= gravatar_for(claim) %>
              </div>
              <div class="col-xs-9">
                <% if claim.email == @post.email %>
                  <i class="list-group-item-heading">Response from <%= claim.name %>:</i>
                <% else %>
                  <h4 class="list-group-item-heading"><%= claim.name %></h4>
                <% end %>
                <p class="list-group-item-text"><%= claim.note %></p>
                <% if logged_in? && current_post?(@post) %>
                    <%= link_to "Delete", post_claim_path(@post, claim), 
                        class: "", 
                        method: :delete, data: { confirm: 'Are you sure?' } %>
                <% end %>
              </div>
    
            </div>
          </li>
        <% end %>
      <% end %>
      </ul>
    </div>

  </div>



  


<div class="row">
  <div class="col-md-12 text-center"> 
  
  <%= link_to 'Back', posts_path, class: "btn btn-primary" %>
  </div>
</div>

</article>

