
    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
              data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to "Lovefund.us", root_path, id: "logo", class: "navbar-brand", method: :get %>
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path, method: :get %></li>
            <li><%= link_to "Notifications", new_subscription_path, method: :get %></li>
            <li><%= link_to "Met Needs and Requests", 
                  posts_url(:search => params[:search], :category => '01', :status => 'met') %>
            </li>
            <li><%= link_to "What's this?",   about_path %></li>
            <li><%= button_to 'New Post', new_post_path, class: "btn navbar-btn btn-info", method: :get %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>